:root {
  --color-background: #eadccd;
  --color-primary: #342a14;
  --color-secondary: #5b7821;
  --color-accent: #a6ab35;
  --color-alert: #ab3535;
  --color-hint: #717171;
  --title-font: "PlayfairDisplay";
  --text-font: "LibreFranklin";
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/playfair_display.ttf");
}

@font-face {
  font-family: "LibreFranklin";
  src: url("/fonts/libre_franklin.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
  background: none;
  border: none;
  max-width: 100%;
  height: auto;
}
