.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-secondary);
  background-image: url("/images/e404background_v1.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
  font-family: var(--text-font);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-background);
  padding: 2rem;
  border: dashed 0.3em var(--color-primary);
  outline: solid 1em var(--color-background);
  border-radius: 1em;
  box-shadow: 0 0.2em 0.5em var(--color-hint);
}

.title {
  font-family: var(--special-font);
  font-size: 5em;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
  color: var(--color-primary);
  width: 25em;
  margin-bottom: 2rem;
}

.homeButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 15em;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: solid 0.1em var(--color-accent);
  outline: solid 0.2em var(--color-primary);
  border-radius: 1em;
  text-decoration: none;
  margin: 1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: var(--color-accent);
  font-family: var(--special-font);
  font-size: 1.5em;
  transition: background 0.3s;
  &:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
    border: solid 0.1em var(--color-secondary);
    outline: solid 0.2em var(--color-secondary);
  }
}
